# Add any directories, files, or patterns you don't want to be tracked by version control
.*
*.o
dpdk/
kvs_server/build/
kvs_server/kvs_server
kvs_client_get/build/
kvs_client_set/build/
kvs_client_del/build/
