# Add any directories, files, or patterns you don't want to be tracked by version control
.*
*.o
dpdk/
hashtable/build/
hashtable/hashtable/
bstr/build/
bstr/bstr/
kvs_lib/build/
kvs_lib/kvs_lib/
kvs_server/build/
kvs_server/kvs_server/
kvs_test_server/build/
kvs_test_server/kvs_test_server/
kvs_client/build/
kvs_client/kvs_client/
